@tailwind base;
@tailwind components;
@tailwind utilities;


@base {
  :root {
    --background: 0 0% 100%;
  }
  
  :dark {
    
  }
}



body {
  color: rgb(var(--foreground-rgb));
}

@layer home {
  .fade-in-left {
    opacity: 1 !important;
    transform: translateX(0) !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-container{
  @apply relative h-full w-full ;
}

.home {
  @apply flex gap-16 pt-60 pb-44 justify-center;
}

.my-img {

  @apply w-96 h-96 border-[16px] shadow-2xl rounded-ee-[50%] rounded-ss-[50%] rounded-se-[20%] rounded-es-[20%] border-[#28282B] overflow-hidden;
  
}

/* skill stack */
.skill-stack {
  @apply opacity-0 transform translate-x-[-50%] transition-all duration-1500;
}

.skill-item{
  @apply flex flex-row gap-4 justify-between ;
}

/* SideButtons */
.side-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
  z-index: 20;
  bottom: 0;
  margin: 1.5rem;
}

.side-buttons a {
  /* color: #453bcd; */
  font-size: 2rem;
  padding: 0;
  margin-block: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

.side-buttons a:hover {
  transform: rotate(360deg);
}

.side-buttons dialog {
  position: absolute;
  inset: 0;
  margin: auto;
  min-width: 10rem;
  min-height: 10rem;
  border: transparent;
  outline: none;
  padding: 1rem;
}

.contact-me-btn{
  @apply border-[3px] rounded-lg  font-extrabold border-black w-96 p-3 transform transition-transform duration-300 hover:scale-125 ;
}

/* ---------- CONTACT ME --------- */

#contactme {
  margin-inline: auto;
  min-height: 100dvh;
  width: 60%;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contactme h1 {
  padding-bottom: 2rem;
}

.contactMe-form {
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.contactMe-form input,
.contactMe-form textarea {
  width: 100%;
  max-width: 500px;
  /* Set a max-width for inputs and textarea */
  outline: none;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  padding: 8px;
  transition: 0.3s;
}


/* .contactMe-form input:focus,
.contactMe-form textarea:focus {
  @apply border-[#a3a2a7] shadow-[0_0_8px_0_#f7f6fa] transform scale-105;
} */

/* .contactMe-form input:focus,
.contactMe-form textarea:focus {
  @apply border-dodgerblue shadow-[0_0_8px_0_dodgerblue] transform scale-105;
} */

.contactMe-form button {
  font-weight: 700;
  background: #453bcd;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0 0 0 0.1);
  border: none;
  outline: none;
  -webkit-transform-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.contactMe-form button:hover,
.contactMe-form button:focus,
.contactMe-form button:active {
  box-shadow: 0 0 20px rgba(0 0 0 0.5);
  transform: scale(1.1);
}

.contactMe-form button:disabled,
.contactMe-form button.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  border: 1px solid #cccccc;
}

/* ----------- PROJECTS ------------- */

#projects {
  @apply mx-auto  ;
}

.projects-header {
  @apply my-5 mx-8;
}

.projects-header p {
  @apply my-5 text-sm leading-5;
}

.projects-body {
  @apply flex flex-col items-center justify-between gap-8 mt-5;
}

.project {
  height: 20%;
  width: 65%;
  margin-top: 1.25rem; /* mt-5 */
  border-radius: 0.375rem; /* rounded-md */
  border-width: 2px; /* border-2 */
  border-color: black;
  text-align: center; /* text-center */
  padding-bottom: 2rem; /* pb-8 */
  background-color: white; /* bg-white */
}

.project-image {
  @apply flex w-full rounded-t-md justify-center mb-4;
}

/* .project-image img {
  @apply ;
} */

.project-body h4 {
  @apply text-xl pb-4 tracking-widest;
}

.project-body p {
  @apply pb-4 px-4;
}

.project-body {
  @apply flex flex-col items-center;
}

.project-body a {
  @apply no-underline border-2 border-[#453bcd] py-1 px-3 rounded text-[#453bcd] flex w-max items-center gap-2 opacity-100 transition-all dark:text-[#cecece] dark:border-[#cecece];
}


/* ----------- MOBILE ------------- */
/* Tailwind CSS */

/* Mobile styles */
@media (max-width: 600px ) {
  :root {
    --background: 0 0% 100%;
  }

  :dark {
    --background: 0 0% 0%;
  }

  body {
    @apply text-[rgb(var(--foreground-rgb))] ;
  }

  .main-container{
    @apply relative h-full w-full p-6;
  }
  
  .side-buttons {
    @apply flex flex-col items-center fixed right-0 bottom-0 m-4;
  }

  .side-buttons a {
    @apply text-xl p-0 my-2 cursor-pointer transition-transform duration-300 ease-in-out;
  }

  .side-buttons a:hover {
    transform: rotate(360deg);
  }

  .side-buttons dialog {
    @apply absolute inset-0 m-auto min-w-[8rem] min-h-[8rem] border-transparent outline-none p-4;
  }

  #contactme {
    @apply mx-auto min-h-screen w-[90%] py-12 flex flex-col items-center justify-center;
  }

  #contactme h1 {
    @apply pb-6;
  }


  .contactMe-form {
    @apply flex flex-col gap-4 items-center w-full;
  }

  .contactMe-form input,
  .contactMe-form textarea {
    @apply w-full max-w-[400px] outline-none border-2 border-gray-400 rounded-md my-2 p-2 transition-transform duration-300;
  }

  .contactMe-form input:focus,
  .contactMe-form textarea:focus {
    @apply border-[#f7f6fa] shadow-[0_0_8px_0_dodgerblue] transform scale-105;
  }

  .contactMe-form button {
    @apply font-bold bg-[#453bcd] py-2 px-4 text-white rounded-md shadow-md border-none outline-none transition-transform duration-300;
  }

  .contactMe-form button:hover,
  .contactMe-form button:focus,
  .contactMe-form button:active {
    @apply shadow-lg transform scale-110;
  }

  .contactMe-form button:disabled,
  .contactMe-form button.disabled {
    @apply bg-gray-300 text-gray-500 cursor-not-allowed border-gray-300;
  }

  #projects {
    @apply mx-auto min-h-screen py-2;
  }

  .projects-header {
    @apply my-5 mx-4;
  }

  .projects-header p {
    @apply my-5 text-sm leading-5;
  }

  .projects-body {
    @apply flex flex-col items-center gap-4 mt-5;
  }

  .project {
    /* @apply mt-5 rounded-md border-2 border-[rgba(164, 161, 155, 0.36)] text-center pb-8 bg-[#f2f2f2]; */
  }

  .project-image {
    @apply flex w-full rounded-t-md justify-center mb-4;
  }

  .project-body h4 {
    @apply text-xl pb-4 tracking-widest;
  }

  .project-body p {
    @apply pb-4 px-4;
  }

  .project-body {
    @apply flex flex-col items-center;
  }

  .project-body a {
    @apply no-underline border-2 border-[#453bcd] py-1 px-3 rounded text-[#453bcd] flex w-max items-center gap-2 opacity-100 transition-all dark:text-[#cecece] dark:border-[#cecece];
  }

.home {
  @apply flex flex-col gap-16 pt-36 justify-center;
}
 
.contact-me-btn{
  @apply  border-[3px] w-32 text-[10px] rounded-lg font-extrabold border-black transform transition-transform duration-300 hover:scale-125  dark:text-[#928f8f] dark:border-[#bbbaba] ;
}


}
